*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand
{
    margin-left : 40px;
}
.navbar-nav
{
    margin-left: 40px;
}
.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-content form
{
    margin-left: 40px;
}
.navbar-content form input
{
    margin-right: 10px;
}
.navbar-content .input-text
{
    width: 400px;
}   
.web-icons{
display: flex;
justify-content: center;
align-items: center;
}
.web-icons .icon-action
{
    margin:10px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-content: center;
}
.web-icons .icon-action:last-child
{
    margin-right: 40px;
}
.web-icons .icon-user-title
{
    color: black;
}